{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="{% url 'podr:index' %}">Home</a> <span class="divider">/</span></li>
            <li class="active">Podcasts</li>
        </ul>

        <h1>Podcasts</h1>

        <ul class="nav nav-tabs">
            <li class="active"><a href="{% url 'podcast:all' %}">All</a></li>
            <li><a href="{% url 'podcast:top' %}">Top</a></li>
            <li><a href="{% url 'podcast:index' %}">Following</a></li>
        </ul>

        {% if categories %}
            <table class="records_list table table-striped">
                <caption>All categories</caption>
                <thead>
                <tr>
                    <th>Title</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>

                {% for category in categories %}
                    <tr>
                        <td><a href="{% url 'podcast:category' category.id %}">{{ category.title }}</a></td>
                        <td>{{ category.no_of_podcasts }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No categories are available.</p>
        {% endif %}
    </div>
{% endblock %}