{% extends "base.html" %}
{% load staticfiles %}

{% block title %}PodR - {{ podcast.title }}{% endblock %}

{% block content %}
<div class="container">
    <ul class="breadcrumb">
        <li><a href="/">Home</a> <span class="divider"></span></li>
        <li><a href="{% url 'podcast:index' %}">Podcast</a> <span class="divider"></span></li>
        <li class="active">{{ podcast.title }}</li>
    </ul>

    <div class="row">
        <div class="col-lg-3">
            <div class="itunes-image thumbnails span12">
                <a href="#" class="thumbnail">
                    {% if podcast.itunes_image %}
                        <img src="{{ podcast.itunes_image }}" alt="" width="260">
                    {% else %}
                        <img data-src="{% static "podr/js/holder.js/260x260" %}" alt="">
                    {% endif %}
                </a>
            </div>
            <p>Last updated: {{ podcast.last_updated|date:"Y-m-d H:i:s" }}</p>
            <p>
                {% if userpodcast.following %}
                    <a href="{% url 'podcast:unfollow' podcast.id %}"><button class="btn btn-danger" type="button">Unfollow</button></a>
                    <a href="{% url 'podcast:update' podcast.id %}"><button class="btn btn-inverse" type="button">Update</button></a>
                {% else %}
                    <a href="{% url 'podcast:follow' podcast.id %}"><button class="btn btn-success" type="button">Follow</button></a>
                    {% if user.is_superuser %}
                        <a href="{% url 'podcast:update' podcast.id %}"><button class="btn btn-inverse" type="button">Update</button></a>
                    {% endif %}
                {% endif %}
            </p>
            <p>
                {% if userpodcast.rating == 1 %}
                <a class="btn btn-default btn-small disabled" href="{% url 'podcast:thumb_up' podcast.id %}"><i class="glyphicon glyphicon-thumbs-up"></i> Like</a>
                {% else %}
                <a class="btn btn-default btn-small" href="{% url 'podcast:thumb_up' podcast.id %}"><i class="glyphicon glyphicon-thumbs-up"></i> Like</a>
                {% endif %}
                {% if userpodcast.rating == -1 %}
                <a class="btn btn-default btn-small disabled" href="{% url 'podcast:thumb_down' podcast.id %}"><i class="glyphicon glyphicon-thumbs-down"></i> Dislike</a>
                {% else %}
                <a class="btn btn-default btn-small" href="{% url 'podcast:thumb_down' podcast.id %}"><i class="glyphicon glyphicon-thumbs-down"></i> Dislike</a>
                {% endif %}
            </p>

            <p>Rating: <span><i class="glyphicon glyphicon-thumbs-up"></i> {{ thumbs_up }}</span> <span><i class="glyphicon glyphicon-thumbs-down"></i> {{ thumbs_down }}</span></p>
            {% if podcast.itunes_explicit %}
                <p>Parental Advisory</p>
            {% endif %}
            <p>{{ podcast.language }}</p>
            <h3>Categories</h3>
            {% if categories %}
            <ul>
                {% for podcast_category in podcast_categories %}
                <li><a href="{% url 'podcast:category' podcast_category.category.id %}" title="{{ podcast_category.category.title }}">{{ podcast_category.category.title }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
            <p>Not categorized</p>
            {% endif %}
            <h3>Owner information</h3>
            <p><a href="mailto:{{ podcast.itunes_owner_email }}">{{ podcast.itunes_owner_name }}</a></p>
            <p>{{ podcast.copyright }}</p>

            <h5>Links</h5>
            <p class="muted"><a href="{{ podcast.link }}">Feed</a></p>
        </div>
        <div class="col-lg-9">
            <h1>{{ podcast.title }}</h1>
            <h4>{{ podcast.itunes_author }}</h4>

            <h4>Description</h4>
            {% if podcast.itunes_summary %}
                <p>{{ podcast.itunes_summary }}</p>
            {% else %}
                <p>{{ podcast.description }}</p>
            {% endif %}

            {% if podcast.itunes_complete %}
                <div class="alert alert-info">
                    This podcast is discontinued
                </div>
            {% endif %}

            <h2>Episode list</h2>

            <table class="records_list table table-striped">
                <caption>...</caption>
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Duration</th>
                    <th>Published</th>
                    <th>Description</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>

                {% for episode in episodes  %}
                    <tr>
                        <td><a href="{% url 'episode:details' episode.id %}">{{ episode.title }}</a></td>
                        <td>{{ episode.itunes_duration }}</td>
                        <td>{% if episode.pub_date %}{{ episode.pub_date|date:"Y-m-d H:i:s" }}{% endif %}</td>
                        {% if episode.itunes_subtitle %}
                            <td>{{ episode.itunes_subtitle|truncatechars:60 }}</td>
                        {% elif episode.itunes_summary %}
                            <td>{{ episode.itunes_summary|truncatechars:60 }}</td>
                        {% else %}
                            <td>No description...</td>
                        {% endif %}
                        <td>{{ episode.itunes_explicit }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <ul class="pager">
                {% if episodes.has_previous %}
                <li class="previous"><a href="?page={{ episodes.previous_page_number }}">&larr; Older</a></li>
                {% else %}
                <li class="previous disabled"><a href="#">&larr; Older</a></li>
                {% endif %}

                <span class="current">Page {{ episodes.number }} of {{ episodes.paginator.num_pages }}</span>

                {% if episodes.has_next %}
                <li class="next"><a href="?page={{ episodes.next_page_number }}">Newer &rarr;</a></li>
                {% else %}
                <li class="next disabled"><a href="#">Newer &rarr;</a></li>
                {% endif %}
            </ul>

            <ul class="record_actions">
                <li>
                    <a href="{% url 'podcast:index' %}">
                        Back to podcast list
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}