{% extends "base.html" %}
{% load staticfiles %}

{% block title %}PodR - {{ podcast.title }}{% endblock %}

{% block content %}
<div class="container">
    <ul class="breadcrumb">
        <li><a href="/">Home</a> <span class="divider">/</span></li>
        <li><a href="{% url 'podcast:index' %}">Podcats</a> <span class="divider">/</span></li>
        <li class="active">{{ podcast.title }}</li>
    </ul>

    <div class="row-fluid">
        <div class="span3">
            <div class="thumbnails span12">
                <a href="#" class="thumbnail">
                    {% if podcast.itunes_image %}
                        <img src="{{ podcast.itunes_image }}" alt="" width="260">
                    {% else %}
                        <img data-src="{% static "podr/js/holder.js/240x240" %}" alt="">
                    {% endif %}
                </a>
            </div>

            <p class="muted">Rating</p>
            {% if podcast.itunes_explicit %}
                <p>Parental Advisory</p>
            {% endif %}
            <p>{{ podcast.language }}</p>
            <p class="muted">Categories</p>
            <p><a href="mailto:{{ podcast.itunes_owner_email }}">{{ podcast.itunes_owner_name }}</a></p>
            <p>Last updated: {{ podcast.last_updated|date:"Y-m-d H:i:s" }}</p>
            <p>{{ podcast.copyright }}</p>

            <h5>Links</h5>
            <p class="muted"><a href="{{ podcast.link }}">Feed</a></p>
        </div>
        <div class="span9">
            <h1>{{ podcast.title }}</h1>
            <h4>{{ podcast.itunes_author }}</h4>

            <h4>Description</h4>
            {% if podcast.itunes_summary %}
                <p>{{ podcast.itunes_summary }}</p>
            {% else %}
                <p>{{ podcast.description }}</p>
            {% endif %}

            {% if podcast.itunes_complete %}
                <div class="alert alert-info">
                    This podcast is discontinued
                </div>
            {% endif %}

            <h2>Episode list</h2>

            <table class="records_list table table-striped">
                <caption>...</caption>
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Duration</th>
                    <th>Published</th>
                    <th>Description</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>

                {% for episode in podcast.sorted_episode_set.all  %}
                    <tr>
                        <td><a href="/episode/{{ episode.id }}/">{{ episode.id }}</a></td>
                        <td>{{ episode.title }}</td>
                        <td>{{ episode.itunes_duration }}</td>
                        <td>{% if episode.pub_date %}{{ episode.pub_date|date:"Y-m-d H:i:s" }}{% endif %}</td>
                        {% if episode.itunes_subtitle %}
                            <td>{{ episode.itunes_subtitle|truncatechars:60 }}</td>
                        {% elif episode.itunes_summary %}
                            <td>{{ episode.itunes_summary|truncatechars:60 }}</td>
                        {% else %}
                            <td>No description...</td>
                        {% endif %}
                        <td>{{ episode.itunes_explicit }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <ul class="record_actions">
                <li>
                    <a href="{% url 'podcast:index' %}">
                        Back to podcast list
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}