{% extends "base.html" %}

{% block content %}
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Home</a> <span class="divider">/</span></li>
            <li class="active">Episodes</li>
        </ul>

        {% if latest_episode_list %}
            <ul>
                {% for episode in latest_episode_list %}
                    <li><a href="/episode/{{ episode.id }}/">{{ episode.title }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No episodes are available.</p>
        {% endif %}
    </div>
{% endblock %}