{% extends "base.html" %}

{% block content %}
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Home</a> <span class="divider"></span></li>
            <li class="active">Profile</li>
        </ul>

        {% if user.get_full_name %}
        <h1>{{ user.get_full_name }}</h1>
        {% else %}
        <h1>{{ user.username }}</h1>
        {% endif %}

        <ul>
            <li><del>Change password</del></li>
            <li><del>Reset token</del></li>
            <li><del>Update profile</del></li>
        </ul>

        <h2>Statistics</h2>
        <ul>
            <li>{{ episode_thumbs_up }} thumbs up on episodes</li>
            <li>{{ podcast_thumbs_up }} thumbs up on podcasts</li>
            <li>{{ episode_thumbs_down }} thumbs down on episodes</li>
            <li>{{ podcast_thumbs_down }} thumbs down on podcasts</li>
            <li>{{ following_podcasts }} podcasts followed</li>
            <li>{{ starred_episodes }} episodes starred</li>
        </ul>

        <h2>Followed users</h2>
        {% if user_users %}
        <ul>
            {% for user_user in user_users %}
            {% if user_user.target.get_full_name %}
            <li><a href="{% url 'account:user_profile' user_user.target.id %}" title="{{ user_user.target.get_full_name }}">{{ user_user.target.get_full_name }}</a></li>
            {% elif user_user.target.username %}
            <li><a href="{% url 'account:user_profile' user_user.target.id %}" title="{{ user_user.target.username }}">{{ user_user.target.username }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
        {% else %}
        <p>You're not following any users</p>
        {% endif %}
    </div>
{% endblock %}